@using BotDetect.Web.Mvc;
@using AuctionWeb.Models
@using AuctionWeb.Helpers;

@section view_title {
    Change Password
}

@model User

@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning">
        <strong>@ViewBag.ErrorMsg</strong>
    </div>
}

   <!-- Change Info -->
<div class="w3_login">
    <h3>Change Password</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <div class="toggle" hidden>
                <i class="fa fa-times fa-pencil"></i>
            </div>
            <div class="form">
                <h2>Change Password</h2>
                <form method="post" action="">
                    <input type="password" name="Password" placeholder="Current Password">
                    <input type="password" name="NewPassword" placeholder="New Password">
                    <input type="password" name="NewPasswordAgain" placeholder="Type Password To Confirm">
                    <div hidden><input type="password" name="ID" value="@Model.ID"></div>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //Change Info --> 
