@using BotDetect.Web.Mvc;
@using AuctionWeb.Models
@using AuctionWeb.Helpers;

@section view_title {
    Change Password
}

@model User

@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning">
        <strong>@ViewBag.ErrorMsg</strong>
    </div>
}

<form class="form-horizontal" method="post" action="">
    <div class="form-group">
        <label for="ffh" class="col-sm-2 control-label"> Current Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="ffh" class="col-sm-2 control-label"> New Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="NewPassword">
        </div>
    </div>
    <div class="form-group">
        <label for="ffh" class="col-sm-2 control-label">Type Password To Confirm</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="NewPasswordAgain">
        </div>
    </div>
    <div class="form-group" hidden>
        <label for="ffh" class="col-sm-2 control-label">Type Password To Confirm</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" value="@Model.ID" name="ID">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>