@using BotDetect.Web.Mvc;

@section view_title {
    Sign In
}

@section css {
<link href="~/Assets/boostrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="~/Assets/boostrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/jquery_validation/jquery.validate.js"></script>
}

@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @ViewBag.ErrorMsg
    </div>
}


    <!-- login -->
<div class="w3_login">
    <h3>Sign In</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <div class="toggle" hidden>
                <i class="fa fa-times fa-pencil"></i>
                <div class="tooltip">Sign Up</div>
            </div>
            <div class="form">
                <h2>Login to your account</h2>
                <form action="" method="post">
                    <input type="text" name="f_Username" placeholder="Username">
                    <input type="password" name="f_RawPassword" placeholder="Password">
                    <input type="checkbox" name="remember" /> Remember
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //login -->