@using BotDetect.Web.Mvc;

@section view_title {
    Sign In
}

@section css {
<link href="~/Assets/boostrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="~/Assets/boostrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/jquery_validation/jquery.validate.js"></script>
    <script type="text/javascript">
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms  
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
}

@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @ViewBag.ErrorMsg
    </div>
}

<div class="w3l_banner_nav_right">
    <!-- login -->
    <div class="w3_login">
        <h3>Sign In</h3>
        <div class="w3_login_module">
            <div class="module form-module">
                <div class="toggle">
                    <i class="fa fa-times fa-pencil"></i>
                    <div class="tooltip">Sign Up</div>
                </div>
                <div class="form">
                    <h2>Login to your account</h2>
                    <form action="" method="post" >
                        <input type="text" name="f_Username" placeholder="Username">
                        <input type="password" name="f_RawPassword" placeholder="Password">
                        <input type="checkbox" name="remember" /> Remember
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div class="form">
                    <h2>Create an account</h2>
                    <form method="post" action="" id="frmRegister">
                        <input type="text" name="f_Username" placeholder="Username">
                        <input type="password" name="f_RawPassword" placeholder="Password" id="id_password">
                        <input type="password" name="f_RawPasswordAgain" placeholder="Type Again" id="id_password">
                        <input type="text" name="f_Name" placeholder="Full Name">
                        <input type="text" name="f_Address" placeholder="Address">
                        <input type="text" name="f_Email" placeholder="Email">
                        <input type="text" name="f_DOB" class="datepicker" placeholder="Birthday">
                            @{
                                var exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                                exampleCaptcha.Reset();
                            }
                            @Html.Captcha(exampleCaptcha)
                        <br />
                        <input type="text" class="form-control" placeholder="Captcha" name="CaptchaCode">
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- //login -->
