@using BotDetect.Web.Mvc;

@section view_title {
    Register
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <style type="text/css">
        label {
            font-weight: normal !important;
        }
    </style>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

@section js {
    <script src="~/Assets/boostrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/jquery_validation/jquery.validate.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true,
        });
        $('#frmRegister').validate({
            rules: {
                f_Username: {
                    required: true,
                    minlength: 6
                },
                f_RawPassword: {
                    required: true,
                    minlength: 6
                },
                f_Name: {
                    required: true
                },
                f_Address: {
                    required: true
                },
                f_Email: {
                    required: true,
                    email: true
                },
                f_DOB: {
                    required: true
                },
                f_RawPasswordAgain: {
                    required: true,
                    equalTo: '#id_password'
                }
            },

            messages: {
                f_Username: {
                    required: 'Please input your username',
                    minlength: 'Username must has at least 6 characters'
                },
                f_RawPassword: {
                    required: 'Please input your password',
                    minlength: 'password must has at least 6 characters',
                },
                f_RawPasswordAgain: {
                    required: 'Please type your password again',
                    equalTo: 'Two types must be the same'
                },
                f_Name: {
                    required: 'Please input your name'
                },
                f_Address: {
                    required: 'Please input your address'
                },
                f_Email: {
                    required: 'Please input your email',
                    email: 'Please input in correct format of email'
                },
                f_DOB: {
                    required: 'Please input your birthday'
                }
            }
        });
    </script>
}

@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @ViewBag.ErrorMsg
    </div>
}

