@using AuctionWeb.Models;

@model List<UsersAsking>

@section view_title{
    Users are waiting for acceptence
}

@section js {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#usersasking').DataTable();
        });
    </script>
    <script src="~/Assets/boostrap-datepicker/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/boostrap-datepicker/js/jquery.dataTabsles.min.js"></script>
}

@section css {
    <link href="~/Assets/boostrap-datepicker/css/d.css" rel="stylesheet" />
}

<table id="usersasking" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>AskingDate</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>AskingDate</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Username</td>
                <td>@p.Email</td>
                <th>@p.AskingDate</th>
            </tr>
        }
    </tbody>
</table>