@using AuctionWeb.Models;

@model List<Category>

@using AuctionWeb.Models;

<div class="list-group">
    @foreach (var c in Model)
    {   
        <a href="@Url.Action("ByCat", "Products", new {id = @c.ID })" class="list-group-item">
            @c.Name
        </a>
    }   
</div>

