@using AuctionWeb.Models;

@model List<Category>

@using AuctionWeb.Models;

<ul class="list-group">
    @foreach (var c in Model)
    {
        <li class="list-group-item"><a href="@Url.Action("ByCat", "Products", new { id = @c.ID })">@c.Name</a></li>
    }
</ul>

