@using AuctionWeb.Models;

@model List<Category>

@using AuctionWeb.Models;

<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav nav_1">
        @foreach (var c in Model)
        {
            <li><a href="@Url.Action("ByCat", "Products", new {id = @c.ID })">@c.Name</a></li>
        }        
    </ul>
</div>

