@section view_title {
    Add Products
}

@section css {       
    <link href="~/Assets/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
}

@section js {
    <script src="~/Assets/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/bootstrap-file-input/bootstrap.file-input.js"></script>
    <script src="~/Assets/tinymce/tinymce.min.js"></script>
    <script>
        $('.selectpicker').selectpicker();
        $('input[type=file]').bootstrapFileInput();
        tinymce.init({
            selector: '#txtDes',
            menubar: false,
            plugins: 'link image textcolor',
            encoding: "xml",
        });
    </script>
}

<form class="form-horizontal" method="post" action="" id="addProductForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="txtProName" class="col-sm-2 control-label">Product Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtProName" name="Name" />
        </div>
        <label for="CatID" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-4">
            <select class="form-control selectpicker" name="IDCat">
                @foreach(var c in ViewBag.Categories)
                {
                    <option value="@c.ID">@c.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="StartPrice" class="col-sm-2 control-label"> Start Price</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="StartPrice" name="StartPrice" />
        </div>
    </div>
    <div class="form-group">
        <label for="StepPrice" class="col-sm-2 control-label">Step Price</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="StepPrice" name="StepPrice" />
        </div>
    </div>
    <div class="form-group">
        <label for="EndPrice" class="col-sm-2 control-label">End Price</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="EndPrice" name="EndPrice" />
        </div>
    </div>
    <div class="form-group">
        <label for="IntervalTime" class="col-sm-2 control-label">Interval Time</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="IntervalTime" name="IntervalTime" />
        </div>
    </div>
    <div class="form-group">
        <label for="ExtendTime" class="col-sm-2 control-label">Extend Time</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="1: yes/ 0:no" id="ExtendTime" name="ExtendTime" />
        </div>
    </div>
    <div class="form-group">
        <label for="Firstimg" class="col-sm-2 control-label">First Image</label>
        <div class="col-sm-4">
            <input type="file" id="Firstimg" name="Firstimg"/>
        </div>
    </div>
    <div class="form-group">
        <label for="Secondimg" class="col-sm-2 control-label">Second Image</label>
        <div class="col-sm-4">
            <input type="file" id="Secondimg" name="Secondimg"/>
        </div>
    </div>
    <div class="form-group">
        <label for="Thirdimg" class="col-sm-2 control-label">Third Image</label>
        <div class="col-sm-4">
            <input type="file" id="Thirdimg" name="Thirdimg"/>
        </div>
    </div>
    <div class="form-group">
        <label for="txtDes" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-group" id="txtDes" name="Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-check"></i>&nbsp;Save
            </button>
            <a href="@Url.Action("Index","MProduct")" class="btn btn-success"
               <i class="fa fa-reply"></i>&nbsp;List of Products
            </a>
        </div>
    </div>
</form>