@section view_title {
    Manage Products    
}

<ul class="nav nav-pills">
    <li><a href="@Url.Action("Add","MProduct")">Add Products</a></li>
    <li><a href="@Url.Action("InTime","MProduct")">Products Available</a></li>
</ul>

